header{
    background-color:#BF9264;
    color:rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    text-align:center;
    padding:20px;
    font-size:2rem;}
    * {
      box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      padding: 10;
      background: #F0F1C5;
    }

    .conts{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 20px;
    }

    .meal-card {
      background: #BBD8A3;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 5px black;
      text-align: center;
    }

    .meal-card img {
      width: 100%;
      border-radius: 8px;
    }
    .meal-card h3 {
      margin: 10px 0 5px;
    }
    .meal-card p {
      margin: 0 0 10px;
      color: gray;
    }
    .meal-card button {
      padding: 10px 15px;
      background: burlywood;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    form {
      background: #BBD8A3;
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      max-width: 400px;
      box-shadow: 0 2px 8px black;
    }
    form h2 {
      margin-bottom: 15px;
    }
    form input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid pink;
      border-radius: 6px;
    }

    form img {
      width: 100%;
      margin: 10px 0;
      border-radius: 8px;
    }

    form button {
      background: burlywood;
      color: black;
      border: none;
      padding: 10px;
      width: 100%;
      border-radius: 6px;
      cursor: pointer;
    }
    footer{
    background-color: #BF9264;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    }

    @media (max-width: 600px) {
      .container {
        grid-template-columns: 1fr;
      }
    }